body {
    margin: 0;
    background-color: #F1F1F1;
    font-family: 'Kanit', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    height: 62px;
    padding: 12px 80px;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-list li {
    list-style-type: none;
}

.text1 {
    height: 192px;
    font-size: 4em;
    line-height: 64px;
    display: flex;
    align-items: center;

}

.text2 {
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    height: 44px;

}

.first {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 80px 0px 80px;
    gap: 165px;
    justify-content: space-between;
}

.second {
    padding: 103px 160px 103px 80px;
    background-color:
        #E1DEE7;
    border-radius: 32px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 86px;

}

.second-title {
    text-align: center;
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
}

.second-title p {
    font-weight: 400;
    font-size: 12px;
    margin: 0;
}
.second-title h3{
    font-weight: 700;
    font-size: 54px;
    margin: 0;
}
.second-content {
    display: flex;
    justify-content: space-between;
}

.numbs {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 86px;
}

.txt {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 48px;
    height: 28px;

}

.txt b {
    font-size: 24px;
    line-height: 28px;
}

.content1 {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0px;
    gap: 48px;
    margin-left: 80px;

}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 40px;
    margin-top: 100px;
    height: 186px;


}

.txt1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    height: 186px;
}

.txt2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    height: 186px;
}

.txt3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    height: 186px;
}

.ff {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    height: 74px;
}

.ff1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    height: 74px;

}

.ff2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    height: 74px;

}

.thirdPart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 80px 0px 80px;
    gap: 48px;
}

.GET {
    height: 64px;
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    color: #000000;
}

.THE {
    width: 495px;
    height: 44px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.Sf {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    height: 50px;
}

.search {
    box-sizing: border-box;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #E1DEE7;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 13px;
}

.input {
    /* position: absolute; */

    height: 22px;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    opacity: 0.2;
    border: none;

}

.search img {
    width: 24px;
    height: 24px;
}

.input:focus {
    outline: none;
}

.find1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    width: 106px;
    height: 50px;
    background: #712FFF;
    border-radius: 100px;
    border: none;

}

.find2 {
    width: 58px;
    height: 18px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.fourth {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 141px 80px 0px 80px;
    gap: 128px;
}

.lastPH {
    border-radius: 24px;
}

.last {
    height: 466.67px;
    left: -40px;
    top: -23px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    height: 214px;
}

.textlast {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    height: 214px;
}

.Title {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0px;
    gap: 32px;
    height: 214px;
}

.Upload {
    height: 56px;
    font-weight: 600;
    font-size: 54px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;

}

.get {
    width: 495px;
    height: 44px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
}

.uplo {
    width: 48px;
    height: 18px;

    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.but {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px 16px 16px;
    gap: 8px;

    width: 114px;
    height: 50px;

    background: #712FFF;
    border-radius: 100px;
    border: none;

}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 32px 80px;
    gap: 32px;
    height: 172px;
    background: #FFFFFF;
    border-radius: 32px 32px 0px 0px;
    margin-top: 64px;


}

.frame22 {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
    height: 38px;

}

.menu1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

    height: 38px;

}

.but1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 8px;
    width: 64px;
    height: 38px;
    border-radius: 100px;
    border: none;
    border-color: #FFFFFF;
}

.l1 {
    width: 40px;
    height: 18px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #081E34;
}

.but2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 8px;
    width: 85px;
    height: 38px;
    border-radius: 100px;
    border: none;
    border-color: #FFFFFF;
}

.l2 {
    width: 61px;
    height: 18px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #081E34;

}

.but3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 8px;
    width: 111px;
    height: 38px;
    border-radius: 100px;
    border: none;

}

.l3 {
    width: 87px;
    height: 18px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #081E34;
}

.menu2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #081E34;
    opacity: 0.5;
}

.ph1 {

    height: 460px;
    display: flex;
    justify-content: flex-end;
}

.menu2 a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #081E34;
}

.nfac {
    font-size: 16px;
    line-height: 18px;
    color: #081E34;
}

.lupa {
    width: 116px;
    height: 22px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em
}

.b1 {
    display: flex;
    justify-content: center;
    font-size: 54px;
    line-height: 56px;
}

@media only screen and (max-width:640px) {
    body {
        padding: 0px;
    }

    .header {
        display: flex;
        height: 62px;
        align-items: center;
        padding: 0px 24px 0px 24px;

    }

    .header-list {
        display: none;
    }

    .lupa {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        height: 22px;
    }

    .first {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 27px;

    }

    .ph1 {

        max-width: 100%;
        height: 249px;
        border-radius: 32px;
        padding: 0px 24px 0px 24px;
    }

    .content1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 24px 0px 24px;
        gap: 24px;
        height: 290px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: -20px;
    }

    .second {
        padding: 54px 24px;
    }
    .second-title h3 {
        font-size: 32px;
    }

    .second-content {
        flex-direction: column;
        gap: 37px;
    }

    .text1 {
        font-size: 32px;
        line-height: 120%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .text2 {
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .ph {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px 24px;
        gap: 54px;

    }

    .p1 {
        height: 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        margin-top: -150px;


    }

    .b1 {
        height: 56px;
        font-size: 32px;
        line-height: 56px;
        font-weight: 700;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0px 24px 0px 24px;
        margin-top: -60px;
    }

    .rows {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        width: 100%;

    }

    .i1 {
        width: 42px;
        height: 42px;
        padding-left: 33.19px;
        padding-top: 54px;
    }

    .b01 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        width: 100%;

        display: flex;
        align-items: center;
    }

    .b001 {
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .ff2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 24px 0px 24px;
        gap: 2px;
        width: 100%;
    }

    .txt1 {
        gap: 24px;

    }

    .i2 {
        width: 42px;
        height: 42px;
        padding-left: 33.19px;
        padding-top: 54px;
    }

    .i3 {
        width: 42px;
        height: 42px;
        padding-left: 33.19px;
        padding-top: 54px;
    }

    .b02 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        width: 100%;

        display: flex;
        align-items: center;
    }

    .b002 {
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .ff {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 24px 0px 24px;
        gap: 2px;
        width: 100%;
    }

    .txt2 {
        gap: 24px;

    }

    .b03 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        width: 100%;

        display: flex;
        align-items: center;
    }

    .b003 {
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .ff1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 24px 0px 24px;
        gap: 2px;
        width: 100%;
    }

    .txt3 {
        gap: 24px;

    }

    .GET {
        font-size: 24px;
        line-height: 120%;
        width: 100%;

        text-align: center;

    }

    .THE {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        width: 100%;

        text-align: center;
    }

    .Sf {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        width: 100%;
    }

    .search {
        box-sizing: border-box;
        width: 100%;
        border-radius: 12px;

    }

    .thirdPart {
        padding: 100px 24px 100px 24px;
        display: flex;
        justify-content: center;
    }

    .input {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        opacity: 0.2;
    }
    .second-content img {
        width: 42px;
        height: 42px;
        margin: 0px;
    }
    .second-content h6{
        font-size: 20px;
        line-height: 24px;
        margin: 0px;
        padding-top: 24px;
        padding-bottom: 12px;
    }
    .second-content p {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        margin: 0px;
    }
    .second-content div {
        gap: 37px;
    }
    .fourth{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 54px 24px 0px 24px;
        gap: 100px;
        

    }
    .last{
        height: 210px;
        border-radius: 24px;
    }
    .Upload{
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        height: 29px;
        margin: 0px;
        
    }
    .Title{
        gap: 0px;
        width: 100%;
        gap: 32px;
    }
    .textlast{
        width: 100%;
    }
    .info{
        width: 100%;
        padding-bottom: 64px;
    }
    .get{
        width: 100%;
        height: 54px;
        margin: 0px;

        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        
    }
    .footer{
    
        border-radius: 32px 32px 0px 0px;
        margin: 0px;
        gap: 0px;
        padding: 32px 24px 32px 24px;
        height: 460px;
    }
    .frame22{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;
        width: 100%;
        height: 396px;
    }
    .menu1{
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        height: 226px;
    }
    .menu1 button {
        display: flex;
        flex-direction: column;
        padding: 0px;
        background-color: white;
        width: 100%;
        align-items: flex-start;
    }
    .menu2{
        width: 100%;
        padding: 0px;
        gap: 0px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #081E34;
        opacity: 0.5;
        height: 72px;
        display: block;


    }
    .nfac{
        width: 100%;
        height: 18px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        padding-top: 40px;
        color: #081E34;
    }

















}